<!DOCTYPE html>
<html>
  <head>
    <title>Queuing System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><%= link_to 'Queuing System', root_path%></h3>
              <nav class="nav nav-masthead">
                <%= link_to 'Run System', edit_queuing_system_path, call: 'nav-link active' %>
              </nav>
            </div>
          </div>

          <%= yield %>

        </div>

      </div>

    </div>
  </body>
</html>
